In [10]:
# Dependencies
import pandas as pd

In [13]:
file = "complete_data.csv"
data_df = pd.read_csv(file)
data_df.head()

,Country,Latitude,Longitude,Confirmed,Deaths,Recovered,GDP,GDP Per Capita,Population,Median Age,Hospital Bed Per 1000 Population Rate,Life Expectancy (years),Unemployment Rate (%),2017 Health Budget per Capita ($),Poverty (% of Pop),Literacy Rate (% of Pop),Gender (% of male)
0,Afghanistan,33.9391,67.7100,40.0,1.0,1.0,2.068200e+10,531.2838,38928346,19.0,0.5,52.1,23.9,67.0,54.5,38.2,50.7389
1,Albania,41.1533,20.1683,89.0,2.0,2.0,1.721000e+10,5980.2689,2877797,33.4,2.9,78.6,13.8,0.0,14.3,97.6,49.4949
2,Algeria,28.0339,1.6596,201.0,17.0,65.0,1.930560e+11,4402.5406,43851044,28.3,1.9,77.2,11.7,258.0,23.0,80.2,50.7389
3,American Samoa,0.0000,0.0000,0.0,0.0,0.0,0.000000e+00,0.0000,0,26.1,0.0,73.9,29.8,0.0,0.0,0.0,50.0000
4,Andorra,42.5063,1.5218,113.0,1.0,1.0,2.858407e+09,36994.8441,77265,44.9,2.5,82.9,3.7,4041.0,0.0,100.0,51.4563

In [17]:
data_df.to_html(class: table,table-hover)

NameError: name 'table' is not defined